header.container, main.container,
footer.container{
  margin:auto;
  
}


* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
  height: 100vh;
  text-align: center;
}

header {
  height: 10vh;
  background-color: #565656;
  text-align: left;
}
h1{
  font-size: 8vh;
  vertical-align: text-top;
  color: white;
}


footer {
  height: 10vh;
  color: #565656;
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  height: 70vh;

}

a{
  text-decoration: none;
}

#logo{
  height: 6vh;
  vertical-align: baseline;
}

#logoffButton
{
  height: 6vh;
  vertical-align: middle;
}

header nav{
  float: left;
  width: 100%;
  
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;

  
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: #76323F;
}



li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

#restDetailName{
  color: #76323F;
}

td, #rrname, #rraddress, #rrcity, #rrstate, #rrzip, textarea, #rname, #raddress, #rcity, #rstate, #rzip, #rtype{
  text-align: left;
  color: #565656;
}
th{
  background-color: #76323F;
  border-style: solid;
  border-color: #76323F;
  border-radius: 5px;
  color: white;
  text-align: left;
}

table{
  display: inline-block;
  font-size: x-large;
  vertical-align: top;
}

td, th, #rrname, #rraddress, #rrcity, #rrstate, #rrzip, textarea, #rname, #raddress, #rcity, #rstate, #rzip, #rtype{
  width: 35vw;
  vertical-align: text-top;
}

#rrname, #rraddress, #rrcity, #rrstate, #rrzip, textarea, #rname, #raddress, #rcity, #rstate, #rzip, #rtype{
  border-style: none;
  font-size: large;
}

#restDetailComments td, #restDetailComments th, #restDetailAddress td, #restDetailAddress th, #restDetailTypeToTry td, #restDetailTypeToTry th{
  width: 70vw;
}

#restDetailComments td{
  height: 20vh;
  vertical-align: text-top;
}

button, #submitButton{
  border-style: none;
  background-color: #565656;
  color: white;
  border-radius: 5px;
  font-size: 4vh;
  height: 5vh;
}

#restDetailButtons{
  width: 70vw;
}
#restDetailButtons button{
  width: 19vw;
}

#restDetailButtons td{
  width: 23.333vw;
}

#leftButton{
  text-align: right;
}
#midButton{
  text-align: center;
}

#rightButton{
  text-align: left;
}

#midButton button{
  background-color: #76323F;
}

h5{
  color: #565656;
}

#restaurantsView
{
    display:inline-block;
}

#restaurantsTry
{
    margin: auto;
    border: 2px solid black;
}

#restaurantsReviewed 
{
    margin: auto;
    border: 2px solid black;
}

#rrstate, #rstate {
    height: 4vh;
}

#rrcomments{
  height: 20vh;
}

.homePics{
  height: 40vh;
}

#toTryButton{
  background-image: url("toTryPic.png");
}

#haveTriedButton{
  background-image: url("haveTriedPic.png");
}

#pastReviewsButton{
  background-image: url("pastReviewsPic.png");
}

#toTryButton, #haveTriedButton, #pastReviewsButton{
  height: 40vh;
  color: #76323F;
  font-weight: bolder;
  border-style: none;
}

#homePics{
  height: 40vh;
}

#toTryDiv, #haveTriedDiv, #restaurantsTry, #restaurantsReviewed{
    display: inline-block;
  font-size: medium;
  border-style: none;
  vertical-align: top;
  width: 35vw;
  float: left;
}

#toTryDiv, #haveTriedDiv{
  color: #76323F;
  font-size: large;
  font-weight: bold;
}

#restaurantsTry a, #restaurantsReviewed a{
color: #565656;
}

#restaurantsTry a:hover, #restaurantsReviewed a:hover{
color: #76323F;
}

