body{
	background-image: linear-gradient(to bottom right, #E1EFF6, #97D2FB, #83BCFF);
	text-align: center;
	font-family: sans-serif;
}

form {
	margin: 5%;
    display: inline-block;
    background-color: #E1EFF6;
}